/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
    font-family: Inter;

}

/* 3. Enable keyword animations */
/* @media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
} */

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

:root {
    --primary-light: #8CB7F5;
    --primary-main: #0D6EFD;
    --primary-gradient: linear-gradient(0deg, #0067FF 0%, #127FFF 100%);
    --primary-hover: #E5F1FF;
    --primary-veryLight: #E3F0FF;
    --gray-500: #8B96A5;
    --gray-300: #DEE2E7;
    --gray-600: #505050;
    --dark: #1C1C1C;
    --orange: #F38332;
    --aqua: #55BDC3

}


.primaryBtn {
  background: var(--primary-gradient);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: medium;
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}


.secondaryBtn {
    background: white;
  border: none;
  border-radius: 6px;
  color: var(--primary-main);
  font-weight: medium;
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}