* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 24px;
}

.firstHeader{
  display: flex;
  justify-content: space-between;

}

.linkList {
  display: flex;
  gap: 23px;
}

.linkListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--gray-500);
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
}

.linkListItem > img {
  height: 20px;
  width: 20px;
}

.searchForm {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-main);
  border-radius: 6px;
  max-width: 665px;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.searchInput {
  flex-grow: 1;
  border: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  box-sizing: border-box;
}

.searchInput:hover,
.searchInput:focus,
.searchInput:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.searchSelect:hover,
.searchSelect:active,
.searchSelect:focus {
  outline: none;
  box-shadow: none;
}

.searchBtn {
  height: 100%;
  width: 100px;
  flex-shrink: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.searchSelect {
  height: 100%;
  border: none;
  border-left: 1px solid var(--primary-main);
  padding-left: 10px;
  padding-right: 5px;
  font-size: 16px;
}

/* next section */

.allCategory{
  display: flex;
  flex-direction: row;
  height: 56px;
  border: 1px solid #f7fafc;
  align-items: center;
  justify-content: space-between;
 
  

}

.categoryList{
  display: flex;
  list-style: none;
  gap: 25px;
   margin-left: 130px;

}
.categoryImage{
  display: flex;
  gap: 6px;
}

.categoryImage img{
  width: 18px;
height: 12px;
margin-top: 6px;
}

.helpCategory{
  border: none;
  width: 61px;
}

.categoryForm{
  display: flex;
  margin-right: 128px;
   position: relative;

}

.englishCategory{
  border: none;
  width: 124px;
}
.shipCategory{
  margin-left: 32px;
  width: 115px;
  border: none;
 
}
.flag{
  width: 22px;
height: 16px;
position: absolute;
right: 30px;
top: 5px;
}
/* third section */
.listClothing {
  display: flex;
  list-style: none;
  gap: 10px;
  background-color: #f7fafc;
  padding: 20px;
  padding-left: 133px;
  color: #8b96a5;
}
.clothingArrow{
  display: flex;
}

/* main section */

.mainSection {
  display: flex;
  background-color: #f7fafc;
  gap: 18px;
}
.formlist {
  display: flex;
  flex-direction: column;
  padding-left: 132px;
  /* width: 35%; */
  color: #505050;
}


.line {
  /* border: 1px solid #DEE2E7 */
  border-top: 1px solid #dee2e7;
}
.title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 14px;
  margin-bottom: 15px;
}
.arrowsUp{
  width: 24px;
height: 24px;
margin-top:10px;
top: 12px;
left: 206px;

}
.formlist li {
  list-style: none;
  padding: 10px;
  padding-left: 0;
}

.formlist label {
  padding: 10px;
  padding-left: 0;
}

.seeAll {
  color: #0d6efd;
  margin-bottom: 28px;
  margin-top: 9px;
}

/* Fourth Category */
.firstLine {
  border: 1px solid #afd0ff;
  background-color: #afd0ff;
  width: 15%;
  height: 4px;
  opacity: 1;
  top: 8px;
  border-radius: 2px;
}

.priceRange {
  display: flex;
}
.circle {
  border: 1px solid #afd0ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.secondLine {
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  width: 35%;
  height: 4px;
  opacity: 1;
  top: 8px;
  border-radius: 2px;
}

.thirdLine {
  border: 1px solid #afd0ff;
  background-color: #afd0ff;
  width: 30%;
  height: 4px;
  opacity: 1;
  top: 8px;
  border-radius: 2px;
}

.priceInputs {
  display: flex; /* ✅ puts labels side by side */
  align-items: center; /*vertically aligns inputs with labels */
  gap: 9px; /* adds spacing between min and max */
  margin-top: 10px;
}
.range {
  width: 111px;
  height: 40px;
  border-width: 1px;
  border-radius: 6px;
  padding-left: 10px;
}

.apply {
  display: block;
  width: 228px;
  height: 40px;
  background-color: white;
  color: #0d6efd;
  margin-bottom: 20px;

  opacity: 1;
  top: 1192px;
  left: 134px;
  border-width: 1px;
  padding-right: 16px;
  padding-left: 16px;
  gap: 10px;
  border-radius: 6px;
}

.radio {
  display: flex;
  flex-direction: column;
}

/* .ratedStar{
  width: 16px;
  height: 15px;
  left: 32px;
  background-repeat: repeat-x;
} */

.fiveStars {
  width: 80px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/ratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.fourStars {
  width: 64px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/ratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.fourUnratedStars {
  width: 64px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/unratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.threeStars {
  width: 48px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/ratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.threeUnratedStars {
  width: 48px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/unratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.twoStars {
  width: 32px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/ratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.twoUnratedStars {
  width: 32px; /* Adjust based on number of stars */
  height: 20px;
  background: url("./assets/unratedStar.png") repeat-x;
  background-size: 16px 15px;
}

.oneStar {
  width: 16px;
  height: 15px;
}
.checkStar {
  display: flex;
  flex-direction: row;
}

/* Second Column */
.listphone {
  display: flex;
  flex-direction: column;
}
.verified {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  gap: 160px;
   align-items: center;
  background-color: white;
  height: 62px;
  width: 850px;
  box-sizing: border-box;
}


.verifiedFeature {
  display: flex;
  /* padding: 22px 0px 21px 19px; */
}

.verifiedFeature label{
  padding: 22px 0px 21px 19px;
}

.verified label{
  padding-right: 16px;
}
.text {
  padding: 22px 0px 21px 19px;
}


.feature {
  width: 172px;
height: 40px;
margin-top: 12px;
/* border: 1px solid #8b96a5; */
box-sizing: border-box;

}

.verifiedIcon{
  width: 38px;
height: 40px;
opacity: 1;
top: 8px;
left: 7px;
margin-top: 12px;

}
.verifiedIcon1{
   border: 1px solid #8b96a5;
   padding: 4px 3px;
  padding-bottom: 3px;
  border-radius:5px ;
  margin-left: 17px;
}

.verifiedIcon2{
  border: 1px solid #f7fafc;
  background-color: #DEE2E7 ;
  border-bottom-right-radius:6px ;
  border-top-right-radius: 6px;
  padding: 8px 8px 7px 7px;
  padding-bottom: 3px;
}

.products {
  width: 100%;
  margin-right: 130px;
  margin-bottom: 0px;
}

.product-card {
  display: flex;
  border: 1px solid white;
  border-radius: 6px;
  margin-top: 20px;
  background-color: white;
  position: relative;
}
.product-card span {
  text-decoration: line-through;
  color: #8b96a5;
}

.productImage {
  width: 184px;
  height: 184px;
  top: 12.13px;
  left: 13.07px;
  opacity: 1;
  margin-top: 21px;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-left: 20px;
}

.product-info {
  margin-top: 23px;
}
.textName {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  /* leading-trim: NONE; */
  line-height: 22px;
  letter-spacing: 0px;
}
.price {
  margin-top: 16px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.rateNumber{
  color: #FF9017;
  
}
.dot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #dee2e7;
  margin-top: 0px;
}

.freeShipping {
  color: #00b517;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  height: 19px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.productStar{
  display: flex;
}



.productDescription{
  color: #606060;
}
.viewDetails {
  color: #0d6efd;
  margin-top: 8px;
  margin-bottom: 31px;
}

.loveWrapper {
  height: 40px;
  width: 40px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
   padding: 11px; 
   margin-top: 20px;
   margin-left: 20px 
}
.loveImg{
  width: 20px;
height: 18px;
opacity: 1;


}
.otherCard {
  margin-top: 10px;
}

/* Page Selector */
.toNextPage {
  background-color: #f7fafc;
  padding-top: 30px;
  padding-bottom: 43px;
}

.showPage {
  display: flex;
  justify-content: end;
  margin-right: 130px;
}
.showTen {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ddd;
  opacity: 1;
  padding: 11px 61px 10px 10px;
  top: 11px;
  left: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  box-sizing: border-box;
}

.pagination {
  /* display: inline-flex;
  align-items: center;
  gap: 5px;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}

.pagination a {
  width: 44px;
  height: 40px;
  color: #1c1c1c;
  background-color: white;
  text-decoration: none;
  padding: 11px 17px;
  gap: 0;
  border: 1px solid #ddd;
  transition: background 0.3s, color 0.3s;
}

.pagination a:hover {
  background: #007bff;
  color: white;
}

.pagination a.active {
  background: #eff2f4;

  color: #8b96a5;

  border-color: #eff2f4;
}

.pagination .arrow {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
}

/* Footer Article */
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px;
  background-color: #eff2f4;
}

article h3 {
  color: #1c1c1c;
}
article p {
  color: #606060;
}

article form {
  margin-top: 21px;
  display: flex;
}
.email {
  position: relative;
}
.emailIcon {
  position: absolute;
  top: 12px;
  left: 8px;
}
.emailInput {
  padding: 11px 68px 10px 32px;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.subscribeBtn {
  background-color: #127fff;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  padding: 10.5px 16px;
  margin-left: 8px;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  gap: 61px;
  padding-left: 129px;
  margin-top: 40px;
}

.paragraphText {
  margin-top: 15px;
  margin-bottom: 16px;
  color: #505050;
}
.socials {
  margin-bottom: 59px;
}
.about h3 {
  margin-bottom: 10px;
  color: #1c1c1c;
  font-weight: 500;
}
.about p {
  color: #8b96a5;
}

.storeButton button {
  border: none;
  display: block;
  margin-bottom: 8px;
}

.last {
  background-color: #eff2f4;
  color: #606060;
  display: flex;
  justify-content: space-between;
  padding-left: 128px;
  padding-right: 136px;
  padding-top: 23px;
  padding-bottom: 21px;
}

.lastDiv {
  display: flex;
  gap: 6px;
}

.arrowUp {
  width: 12px;
  height: 7px;
  margin-top: 10px;
}
